html, body, .container-fluid {
  background-color: #D6D8DC;
}

.text-input {
  font-size: 16px;
}

.hash-output {
  color: #575B5E;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: pre-wrap;
}

.hash-heading {
  color: #575B5E;
  font-weight: normal;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.clear-decoration {
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
}